.basedate {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 2px;
}
.date0 {
  @extend .basedate;
  background-color: aliceblue;
}
.date1 {
  @extend .basedate;
  background-color: rgb(233, 233, 233);
}

.type {
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
  width: 150px;
}
.title {
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.blogCard {
  margin-top: 2px;
}
.divider {
  color: black;
}