.periodBox {
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);

  background-color: transparent;
  color: #000000 !important;
}
.wrapper {
  margin: 30px 10px 30px 10px;
  text-align: center;
}
.statusTitle {
  margin: 30px 10px 30px 10px;
}
.button {
  color: #0066af !important;
  position:relative;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);

  &:hover {
    background-color: transparent;
    border: 1px solid #003dff;
    color: #003dff !important;
  }
}
.accumulation {
  margin: 5px 10px 5px 10px;
  text-align: right;
  font-size: medium;
  font-weight: bold;
}
