.card {
  width: auto;
  height: auto;
  padding: 10px 20px 5px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F8F8FF;
  border-radius: 10px;
  outline: #DDDDDD solid 1px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
}
