.wrapper {
  margin-bottom: 5px;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: solid underline #ffc0ae 4px;
}

.subtitle {
  font-size: x-large;
  font-weight: bold;
  text-decoration: solid #ffc0ae 4px;
}
