.body {
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  margin: 10px 1px;
  text-align: left;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  font-size: small;
  position: relative;

  border: 3px double #bbb9b9;


  &:hover {
    cursor: pointer;
  }
}

.categoryButton {
  @extend .body;
  background-color: #eefcee;

  &:hover {
    background-color: #c6d7c6;
  }
}

.topicButton {
  @extend .body;
  background-color: #ffcfd3;

  &:hover {
    background-color: #cba6a9;
  }
}

.problemButton {
  @extend .body;
  background-color: #cfd9ff;

  &:hover {
    background-color: #7783b2;
  }
}

.upsertButton {
  @extend .body;
  background-color: #ffe27b;

  &:hover {
    background-color: #c2a75e;
  }
}

.deleteButton {
  @extend .body;
  background-color: #ff3232;

  &:hover {
    background-color: #c02525;
  }
}

.href {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
