.card {
  width: auto;
  height: auto;
  padding: 10px 20px 2px 20px;
  margin: 10px 5px 10px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);

  background-color: #ffffff;
  position: relative;
}

.categoryNormalCard {
  @extend .card;
  border: 5px double #c6d7c6;
}

.categoryLinkCard {
  @extend .categoryNormalCard;

  &:hover {
    background-color: #dedddd;
    border: 7px double #aeceae;
  }
}

.topicNormalCard {
  @extend .card;
  padding: 8px 20px 1px 20px;
  margin: 2px 5px 2px 5px;
  border: 5px double #cba6a9;
}

.topicLinkCard {
  @extend .topicNormalCard;

  &:hover {
    background-color: #dedddd;
    border: 7px double #c08d91;
  }
}

.pageTextCard {
  @extend .card;
  border-radius: 2px;

  border: 2px solid #bbb9b9;
}

.categoryTitle {
  text-align: center;
}

.topicTitle {
  text-align: left;
}

.href {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
