.card {
  width: auto;
  height: auto;
  padding: 10px 20px 2px 20px;
  margin: 10px 5px 10px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);

  background-color: #ffffff;
  position: relative;
}

.categoryNormalCard {
  @extend .card;
  border: 5px double #c6d7c6;
}

.categoryLinkCard {
  @extend .categoryNormalCard;

  &:hover {
    background-color: #dedddd;
    border: 7px double #aeceae;
  }
}

.topicNormalCard {
  @extend .card;
  padding: 8px 20px 1px 20px;
  margin: 2px 5px 2px 5px;
  border: 5px double #cba6a9;
}

.topicLinkCard {
  @extend .topicNormalCard;

  &:hover {
    background-color: #dedddd;
    border: 7px double #c08d91;
  }
}

.problemNormalCard {
  @extend .card;
  padding: 1px 10px 1px 10px !important;
  margin: 1px !important;
  border: 3px double #7783b2;
}

.problemLinkCard {
  @extend .problemNormalCard;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 3px;

  &:hover {
    background-color: #dedddd;
    border: 5px double #6c7ab0;
  }
}

.tagLinkCard {
  @extend .card;
  padding: 1px 10px 1px 10px;
  margin: 1px;

  background-color: #ffcfd3;
  border: 2px solid #f8acb2;

  &:hover {
    background-color: #cba6a9;
    border: 3px solid #d7858c;
  }

}

.pageTextCard {
  @extend .card;
  border-radius: 2px;

  border: 2px solid #bbb9b9;
}

.categoryTitle {
  text-align: center;
}

.topicTitle {
  text-align: left;
}

.problemTitle {
  text-align: left;
  font-size: small;
}

.tagTitle {
  text-align: center;
  font-size: small;
}

.href {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
