.text {
  text-align: left;
  margin-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.ningenmeNetAppbar {
  background-color: #212529 !important;
}
.comproCategoryAppbar {
  background-color: #0066af !important;
}
