.ningenmeNetAppbar {
  background-color: #212529 !important;
}
.comproCategoryAppbar {
  background-color: #0066af !important;
}
.brand {
  margin: 10px 10px 10px 10%;
  color: white;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}
.button {
  margin: 5px 5px 1px;
  text-transform: none !important
}
.buttonPc {
  @extend .button;
  color: white !important;
  &:hover {
    color: rgba(188,188,188,0.94) !important;
  }
}
.buttonSp {
  @extend .button;
  color: black !important;
  &:hover {
    color: black !important;
  }
}
.hamburger {
  position: absolute !important;
  top: 5px !important;
  right: 0 !important;
  margin-right: 5% !important;
  color: white !important;
}
