.appbar {
  background-color: #212529;
}
.brand {
  margin-left: 10%;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}
.button {
  margin: 5px 5px 1px;
  text-transform: none
}
.buttonPc {
  @extend .button;
  color: white;
  &:hover {
    color: white;
  }
}
.buttonSp {
  @extend .button;
  color: black;
  &:hover {
    color: black;
  }
}
.hamburger {
  position: absolute;
  top: 5px;
  right: 0;
}
